.button {
  position: relative;
  z-index: 1;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  

  background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
  border-radius: 50%;
  border: none;
  color: $color_white;
  cursor: pointer;
  &:hover,
  &:focus { 
   background: $color_white;
   color: $color_accent;
   border: 1px solid $color_accent;
    }
    @media screen and (max-width: 374px) {
    top: 40px;
    left: 0px;
    width: 34px;
    height: 34px;
    font-size: 28px;
    padding: 9px;
    }
    @media screen and (min-width: 375px) {
    top: 40px;
    width: 44px;
    height: 44px;
    font-size: 30px;
    padding: 14px;
    }
    @media screen and (min-width: 425px) {
    top: 42px;
    width: 54px;
    height: 54px;
    font-size: 32px;
    padding: 18px;
    }
    @media screen and (min-width:768px) {
    top: 56px;
    width: 64px;
    height: 64px;
    padding: 22px;
    font-size: 34px;
    }
    @media screen and (min-width:1024px) {
    font-size: 36px;
    padding: 20px;
    }
    @media screen and (min-width:1440px) {
    top: 55px;
    font-size: 40px;
    }
}