html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: $font_basic;
  background: $color_background;
  .container {
    margin: 0px auto;
    width: 100%;
    @media screen and (min-width: 1441px) {
      max-width: 1440px;
      padding: 0px 135px 0px 135px;
    }
    @media screen and (max-width: $desktop1440) {
      max-width: $desktop1440;
      padding: 0px 135px 0px 135px;
    }
    @media screen and (max-width: $desktop1024) {
      max-width: $desktop1024;
      padding: 0px 90px 0px 90px;
    }
    @media screen and (max-width: $tablet768) {
      max-width: $tablet768;
      padding: 0px 50px 0px 50px;
    }
    @media screen and (max-width: $mobile475) {
      max-width: $mobile475;
      padding: 0px 15px 0px 15px;
    }
  }
}

ul, ol,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}