.sidebar {
  position: relative;
  padding-top: 73px;
  @media screen and (max-width: 425px) {
    padding-top: 40px;
    }
}

.sidebar-user {
  display: flex;
}

.sidebar-user__avatar {
  width: 120px;
  height: 120px;
  margin-right: 24px;
  margin-left: 1px;
  margin-bottom: 32px;
  @media screen and (max-width: 425px) {
    width: 100px;
    height: 100px;
    }
}

.sidebar-user__name {
  font-family: $font_details;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  color: $color_text2;
  
  margin-top: 0px;
  margin-bottom: 7px;
  margin-right: 25px;
  @media screen and (max-width: 425px) {
    font-size: 20px;
    }
}

.sidebar-user__wrapper {
  display: flex;
}

.sidebar-dots {
 width: 16px;
 margin-bottom: 37px;
 fill: $color_text;
}

.sidebar-menu {
  display: none;
  position: absolute;
  left: 444px;
  z-index: 2;
  width: 177px;
  height: 124px;

  background: $color_white;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  mix-blend-mode: normal;
  backdrop-filter: blur(21.7463px);
  border-radius: 8px;
  opacity: 0.94;
  
  @media screen and (min-width: 1025px) {
    top:112px;
    left: 280px;
    }
  @media screen and (min-width: 1440px) {
    top:112px;
    left: 310px;
    }
  @media screen and (max-width: 1024px) { 
    left: 304px;
    }
  @media screen and (max-width:767px) {
    left: 180px;
  }
  @media screen and (max-width:424px) {
    top: 70px;
    left: 110px;
    }
}

.sidebar-menu.is-open {
  display: block;
}

.sidebar-menu__report {
  position: absolute;
  top:24px;
  left:0px;
  width: 177px;
  height: 38px;
  display: flex;
  align-items: center;
}

.sidebar-menu__report-background {
  position:absolute;
  z-index: 0;
  width: 177px;
  height: 38px;
  background: #ECF1F8;
  opacity: 0.6;
}

.sidebar-menu__delete {
  display: flex;
  align-items: center;
  position: absolute;
  top:54px;
  left:0px;
  margin-top: 19px;
}

.sidebar-menu__report-icon {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 27px;
}

.sidebar-menu__delete-icon {
  width: 16px;
  height: 16px;
  margin-right: 21px;
  margin-left: 26px;
}

.sidebar-menu__report-text,
.sidebar-menu__delete-text {
  font-family: $font_basic;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15px;
  color: $color_text;
  margin: 0px;
}

.sidebar-menu__report-text {
  position: relative;
  z-index: 1;    
}

.sidebar-user__login {
  font-family: $font_basic;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.5px;
  
  color: $color_text2;
  margin: 0px;
  
  &:hover,
  &:focus {
    color: $color_background2;
  }
}

.sidebar-user__edit {
  display: flex;
  margin-top: 17px;
}

.sidebar-user__edit-img {
  width: 20px;
  margin-right: 8px;
}

.sidebar-user__edit-text {
  font-family: $font_basic;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-decoration-line: underline; 
  color: $color_accent2;
}

.sidebar-data {
  display: flex;
}

.sidebar-data__number-left,
.sidebar-data__number-middle,
.sidebar-data__number-right {
  font-family: $font_basic;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.33;
  color: $color_text2;
  max-width: 68px;
  text-align: center;
  margin: 0;
}

.sidebar-data__number-left,
.sidebar-data__number-right {
  margin-left: -7px;
  &:not(:last-child) {
     margin-right: 47px;
    }
}

.sidebar-data__number-middle {
  margin-left: -7px;
  margin-right: 54px;
}

.sidebar-data__text {
  font-size: 16px;
  font-weight: normal;
}

.sidebar-paragraf {
  max-width: 350px;
  font-family: $font_basic;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: $color_text2;
  margin: 0;
  margin-top: 23px;
  margin-left: 1px;
}

.sidebar-button {
  width: 16px;
  height: 16px;
  margin-top: 3px;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    .sidebar-dots{
      fill: $color_accent;
      }
  }
}
