$color_white: #ffffff;
$color_black: #000000;

$color_background: #F2F2F2;
$color_background2: #B2B3BB;

$color_text: #3E4056;
$color_text2: #3E3F58;

$color_accent2: #F05D63;
$color_accent: #ED5267;

$font_basic: 'Open Sans', sans-serif;
$font_details: 'Montserrat', sans-serif;

$mobile475: 475px;
$tablet768: 768px;
$desktop1024: 1024px;
$desktop1440: 1440px;
